body {
    font-family: Arial;
}
.result {
    padding: 20px 15px;
    height: 150px;
    box-shadow: 0px 0px 15px #ddd;
    margin-bottom: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}